:root {
  --primary-color: rgb(224, 122, 95);
  --secondary-color: rgb(242, 204, 143);
  --background-color: rgb(61, 64, 91);
  --accent-color: rgba(129, 178, 154, 0.794);
  --font-color: rgb(244, 241, 222); 
  --btn-hover: rgb(94, 177, 191);
}

body {
  background: #43C6AC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #191654, #43C6AC);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #191654, #43C6AC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  

  
color: var(--font-color);
box-sizing: border-box;
margin: 0px;
font-family: 'Roboto', sans-serif;
}

header nav, .nav-wrapper-custom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
}

h3, h4 {
  color: var(--secondary-color);
  margin: 10px;

} 

.font {
  color: var(--secondary-color);
}

header, nav, a, .hi-score {
  text-decoration: none;
  color: var(--secondary-color);
}

header, nav, .time {
  color: var(--font-color);
}

main, section, .quiz-wrapper {
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  max-width: 700px;
  min-width:375px;
  height: auto;
}

.start-quiz {
  text-align: center;
  margin: 10px;
}

div p {
  font-size: 1.2rem;
}

div .startbtn {
  color: var(--font-color);
  background: #EC6F66;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #F3A183, #EC6F66);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #F3A183, #EC6F66); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  


  border: none;
  padding: 5px 20px;
  margin:10px;
  font-size: 24px;
  border-radius: 10px;
}

div .startbtn:hover {
  background-color: var(--btn-hover);
}

.question-mini, .highscore {
  margin: 10px;
}


div .btn-custom {
  display: flex;
  flex-direction: column;
  color: var(--font-color);
  background-color: var(--primary-color);
  border: none;
  padding: 5px 20px;
  margin:10px;
  font-size: 1.2rem;
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
}

div .btn-custom:hover {
  background-color: var(--btn-hover);
}

div .btn-custom-in {
  display: flex;
  flex-direction: row;
  color: var(--font-color);
  background: #EC6F66;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #F3A183, #EC6F66);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #F3A183, #EC6F66); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border: none;
  padding: 5px 20px;
  margin:10px;
  font-size: 24px;
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
}

div .btn-custom-in:hover {
  background-color: var(--btn-hover);
}



div, p, .key {
margin-top:5px;
}

.key {
color: var(--accent-color);
font-style:italic;
font-size: 1.5rem;
border-top: 1px solid var(--accent-color);
}

.hide {
  display: none;
}

.show {
  display: block;
}

.fox-style {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: 250px;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 10px;
  border-style: groove;
  border-width: 2px;
  border-color:var(--accent-color);
  box-shadow: 0px 0px 35px 0px var(--accent-color); 
}

